extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.loading
		.loading-icon
			img(src="../img/loading.svg", alt="")
	.main-inner
		.container
			.tabs-controls-wrap
				.tabs-controls#tabs-controls-incomes(data-target="#tabs-incomes")
					.tabs-controls-item.tabs-controls-item--active Доходы
					.tabs-controls-item Категории


			//
				input.inp.js-date-time(type="text", name="" value="1243")
				input.inp(type="text", name="" value="1243")
				input.inp(type="text", name="" placeholder="1243")
			.tabs#tabs-incomes
				.tabs__tab.tabs__tab--active
					.table-wrap.table-wrap--type-2.table-wrap--900--sb-t0.js-table-scrollbar.js-table-scrollbar--incomes-1

						table.table.table-incomes.table-incomes--operations
							//.table--3-col-date-summ-cat
							thead.table-thead
								tr.table-tr.table-tr--head
									th.table-td.table-td--head Дата
									th.table-td.table-td--head Сумма
									th.table-td.table-td--head Категория
									th.table-td.table-td--head Примечание
							tbody.table-tbody
								tr.table-tr.table-tr--clickable(href="#modal-edit-income" data-fancybox)
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable(href="#modal-edit-income" data-fancybox)
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Зарплата
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Подработка
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание
								tr.table-tr.table-tr--clickable
									td.table-td 01.06.21 15:00
									td.table-td.green +2400
									td.table-td Возвращённый долг от Василия васильевича Чепухина
									td.table-td Примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание примечание

					.pagination-wrap-outer
						.pagination-wrap#pagination-wrap
						a.btn.btn--big(href="#modal-add-income" data-fancybox) Добавить запись
				.tabs__tab
					.table-wrap.table-wrap--type-2.js-table-scrollbar.js-table-scrollbar--incomes-2
						table.table.table-incomes
							thead.table-thead
								tr.table-tr.table-tr--head
									th.table-td.table-td--head Название категории
							tbody.table-tbody
								tr.table-tr.table-tr--clickable(href="#modal-edit-income-cat" data-fancybox)
									td.table-td Зарплата
								tr.table-tr.table-tr--clickable(href="#modal-edit-income-cat" data-fancybox)
									td.table-td Подработка
								tr.table-tr.table-tr--clickable
									td.table-td Возвращённый долг
								tr.table-tr.table-tr--clickable
									td.table-td Возвращённый долг от Василия васильевича Чепухина


					.pagination-wrap-outer
						.pagination-wrap#pagination-wrap
						a.btn.btn--big(href="#modal-add-income-cat" data-fancybox) Добавить запись
