//header.site-header
	.container.container--site-header
		a.sh-logo(href="/")
			|  <svg width="26" height="10" viewBox="0 0 26 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path  class="sh-logo-svg__back" d="M6.74303 2.17287H4.64903H2.55503H1.16303V4.81287H2.55503H4.53503L6.51503 6.07287H2.55503V9.30086L1.16302 7.51287L1.16303 0.900865H3.95303L6.74303 2.17287ZM17.2972 2.55386V4.20686V7.51287L15.9052 9.30086V4.14086C15.9052 3.80486 15.9172 3.52486 15.9412 3.30086L15.9172 3.28886C15.8452 3.41686 15.7012 3.64086 15.4852 3.96086L15.3052 4.22486L14.1929 6.04351H11.5068L10.4092 4.23686C10.2572 4.02086 10.0532 3.72086 9.79722 3.33686L9.76122 3.34886C9.78522 3.57286 9.79722 3.85286 9.79722 4.18886V9.30086L8.40522 7.51287V4.20686V2.55386L9.08922 0.900865H9.77322L11.3152 3.21086L12.0862 4.36586L12.4717 4.94337H13.2427L13.6282 4.36586L14.3992 3.21086L15.9412 0.900865H16.6192L17.2972 2.55386ZM25.4183 0.900864L24.0683 2.14886H22.7183V5.72486V7.51287L21.3143 9.30086V7.51287V5.72486V2.14886H18.6143L19.9881 0.900865L25.4183 0.900864Z" fill="#74C69D"/><path class="sh-logo-svg__front"  d="M6.32574 1.81856H4.23174H2.13774H0.745736V4.45856H2.13774H4.11774L6.09774 5.71856H2.13774V8.94655L0.745728 7.15856L0.745736 0.546557H3.53574L6.32574 1.81856ZM16.8799 2.19956V3.85256V7.15856L15.4879 8.94655V3.78656C15.4879 3.45056 15.4999 3.17056 15.5239 2.94656L15.4999 2.93456C15.4279 3.06256 15.2839 3.28656 15.0679 3.60656L14.8879 3.87056L13.7756 5.6892H11.0895L9.99193 3.88256C9.83993 3.66656 9.63593 3.36656 9.37993 2.98256L9.34393 2.99456C9.36793 3.21856 9.37993 3.49856 9.37993 3.83456V8.94655L7.98793 7.15856V3.85256V2.19956L8.67193 0.546557H9.35593L10.8979 2.85656L11.6689 4.01156L12.0544 4.58906H12.8254L13.2109 4.01156L13.9819 2.85656L15.5239 0.546557H16.2019L16.8799 2.19956ZM25.001 0.546555L23.651 1.79456H22.301V5.37056V7.15856L20.897 8.94655V7.15856V5.37056V1.79456H18.197L19.5708 0.546557L25.001 0.546555Z" fill="#1B4332"/></svg>
			//|  <svg class="sh-logo-svg" width="139.307mm" height="52.2729mm" viewBox="0 0 12475.24 4681.16" fill="none" xmlns="http://www.w3.org/2000/svg"><g>	<path class="sh-logo-svg__back sh-logo-svg__back--1" d="M8510.08 1074.03l0 883.51 0 1767.43 -744.11 955.64 0 -2758.23c0,-179.62 6.26,-329.32 19.19,-449.13l-12.93 -6.26c-38.39,68.28 -115.36,188.1 -230.93,359.22l-96.17 141.03 -594.6 972.21 -1435.89 0 -586.72 -965.74c-81.22,-115.57 -190.32,-275.79 -327.1,-481.06l-19.19 6.26c12.73,119.81 19.19,269.53 19.19,449.13l0 2732.57 -744.11 -955.64 0 -1767.43 0 -883.51 365.69 -883.72 365.49 0 824.32 1234.86 412.16 617.43 206.08 308.71 412.16 0 206.08 -308.71 412.16 -617.43 824.32 -1234.86 362.45 0 362.46 883.72z"/>	<path class="sh-logo-svg__front sh-logo-svg__front--1" d="M8287.02 884.71l0 883.51 0 1767.24 -744.11 955.85 0 -2758.44c0,-179.62 6.27,-329.12 19.2,-448.94l-12.93 -6.46c-38.39,68.49 -115.37,188.29 -230.93,359.22l-96.17 141.22 -594.6 972.21 -1435.89 0 -586.72 -965.95c-81.22,-115.36 -190.32,-275.78 -327.1,-481.05l-19.19 6.47c12.73,119.8 19.19,269.31 19.19,448.93l0 2732.78 -744.11 -955.85 0 -1767.24 0 -883.51 365.69 -883.72 365.49 0 824.32 1234.86 412.16 617.43 206.08 308.71 412.16 0 206.09 -308.71 412.16 -617.43 824.32 -1234.86 362.45 0 362.45 883.72z"/></g><g>	<polygon class="sh-logo-svg__back sh-logo-svg__back--2" points="3205.95,870.92 2086.65,870.92 967.16,870.92 223.05,870.92 223.05,2282.16 967.16,2282.16 2025.64,2282.16 3084.12,2955.76 967.16,2955.76 967.16,4681.16 223.05,3725.52 223.05,190.85 1714.5,190.85 "/>	<polygon class="sh-logo-svg__front sh-logo-svg__front--2" points="2982.9,681.4 1863.6,681.4 744.11,681.4 -0,681.4 -0,2092.65 744.11,2092.65 1802.59,2092.65 2861.07,2766.25 744.11,2766.25 744.11,4491.86 -0,3536.01 -0,1.55 1491.45,1.55 "/></g><g>	<polygon class="sh-logo-svg__back sh-logo-svg__back--3" points="12475.24,189.3 11753.55,856.44 11031.88,856.44 11031.88,2768.13 11031.88,3723.97 10281.3,4679.62 10281.3,3723.97 10281.3,2768.13 10281.3,856.44 8838.14,856.44 9572.34,189.3 "/>	<polygon class="sh-logo-svg__front sh-logo-svg__front--3" points="12252.19,0 11530.5,667.13 10808.82,667.13 10808.82,2578.62 10808.82,3534.46 10058.25,4490.31 10058.25,3534.46 10058.25,2578.62 10058.25,667.13 8614.88,667.13 9349.29,0 "/></g></svg>


		//.main-menu
			.mm-button.mm-button--active
				.mm-button__icon
					include ../../img/bytesize-icons/home.svg
					include ../../img/bytesize-icons/home.svg
				.mm-button__name Главная
			.mm-button-delimiter
			.mm-button
				.mm-button__icon
					include ../../img/bytesize-icons/plus.svg
					include ../../img/bytesize-icons/plus.svg
				.mm-button__name Доходы
			.mm-button-delimiter
			.mm-button
				.mm-button__icon
					include ../../img/bytesize-icons/minus.svg
					include ../../img/bytesize-icons/minus.svg
				.mm-button__name Расходы
			.mm-button-delimiter
			.mm-button
				.mm-button__icon
					include ../../img/bytesize-icons/activity.svg
					include ../../img/bytesize-icons/activity.svg
				.mm-button__name Статистика
			//.mm-button
				.mm-button__icon
					include ../../img/bytesize-icons/settings.svg
				.mm-button__name Настройки
			.mm-button-delimiter--before-options
			.mm-button.mm-button--options
				.mm-button__icon
					include ../../img/bytesize-icons/options.svg
					include ../../img/bytesize-icons/options.svg
				.mm-button__name Настройки
	//.sh-burger

.sh-placeholder